{% extends "base.html" %}
{% block content %}

<style>
.card-columns {
    column-count: 3;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}
</style>

<div class="jumbotron jumbotron-fluid">
  <div class="col-lg-10 mx-auto col-12 text-center mb-3">
      <h1 class="mt-0 text-primary">Our Menu</h1>
      <p class="lead">We take pride in our work, and it shows. Every time you order a beverage from us, we guarantee that it will be an experience worth having. Whether it's our world famous Venezuelan Cappuccino, a refreshing iced herbal tea, or something as simple as a cup of speciality sourced black coffee, you will be coming back for more.</p>
  </div>
  <div class="container">
    <br>
    <div align="center">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#cart_collapse" aria-expanded="false" aria-controls="cart_collapse">
        View Cart
      </button>
    </div>
    <div class="collapse" id="cart_collapse">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
        	<h5 class="card-title mb-2 text-muted">Card subtitle</h5>
         	<a href="#" class="card-link" role="button">Card link</a>
          <a href="#" class="card-link" role="button">Another link</a>
        </div>
       </div>
    </div>
    <br>
      <div class="row">
          <br>
          <div class="col-12 mt-4">
              <h3 class="text-center">COFFEES & TEAS</h3>
              <hr class="accent my-5">
          </div>
          <div class="card-columns">
            {% for item in cof_tea_items %}
            <a href="#AddFood" class="custom-card open-AddFood" data-id="{{ item.id }}" data-toggle="modal">
              <div class="card card-body">
                  <span class="float-right font-weight-bold">${{ item.unit_price }}</span>
                  <h6 class="text-truncate" id="name_{{item.id}}">{{ item.name }}</h6>
                  <p class="small" id="descp_{{item.id}}">{{ item.description }}</p>
              </div>
            </a>
            {% endfor %}
          </div>
          <div class="col-12 mt-4">
              <h3 class="text-center">BAKERY & KITCHEN</h3>
              <hr class="accent my-5">
          </div>
          <div class="card-columns">
            {% for item in baked_items %}
            <a href="#AddFood" class="custom-card open-AddFood" data-id="{{ item.id }}" data-toggle="modal">
              <div class="card card-body">
                  <span class="float-right font-weight-bold">${{ item.unit_price }}</span>
                  <h6 class="text-truncate" id="name_{{item.id}}">{{ item.name }}</h6>
                  <p class="small" id="descp_{{item.id}}">{{ item.description }}</p>
              </div>
            </a>
            {% endfor %}
          </div>
          <div class="col-12 mt-4">
              <h3 class="text-center">BULK SPECIALITY BLENDS</h3>
              <hr class="accent my-5">
          </div>
          <div class="card-columns">
            {% for item in blend_items %}
            <a href="#AddFood" class="custom-card open-AddFood" data-id="{{ item.id }}" data-toggle="modal">
              <div class="card card-body" class="card-img-top" alt="...">
                  <span class="float-right font-weight-bold">${{ item.unit_price }}</span>
                  <h6 class="text-truncate" id="name_{{item.id}}">{{ item.name }}</h6>
                  <p class="small" id="descp_{{item.id}}">{{ item.description }}</p>
              </div>
            </a>
            {% endfor %}
          </div>
          <div class="col-12 mt-4">
              <hr class="accent my-5">
          </div>
          <div class="col-6 mx-auto">
              <div class="card card-body text-center">
                  <h5 class="text-uppercase">Limited!</h5>
                  <h6>Cold Brew</h6>
                  <p class="small">caramel, chocolate, citrus, and floral</p>
                  <span class="float-right font-weight-bold">$7</span>
              </div>
          </div>
          <div class="col-12 mt-4">
              <hr class="accent my-5">
          </div>
      </div>
      <div id="test">
        {% for item in cart %}
          <p>{{item["name"]}}, {{item["quantity"]}}</p>
        {% endfor %}
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="AddFood" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Make Selection</h5>
        <button class="close" data-dismiss="modal"aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <img src="https://img.icons8.com/ultraviolet/100/000000/full-image.png">
          <h3 id="food_name"></h3>
          <p id="food_descp"></p>
          <p hidden id="food_id"></p>
          Qt: <input type="number" id="quantity" min="1" max="10" step="1" value="1">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="add_btn">Add to cart</button>
      </div>
    </div>
  </div>
</div>

<script>

function cart_list(items){

  var itemHTML = '';

  for (var item of items){

    itemHTML += "<p>"+item['name']+", "+item['quantity']+"</p>"

  }
  return itemHTML

}

$(document).on("click", ".open-AddFood", function () {
     var item_id = $(this).data('id');
     var name = document.getElementById("name_".concat(item_id)).innerHTML;
     var description = document.getElementById("descp_".concat(item_id)).innerHTML;
     document.getElementById("food_id").innerHTML = item_id
     document.getElementById("food_name").innerHTML = name
     document.getElementById("food_descp").innerHTML = description
     // $(".modal-body #description").val( myBookId );
     // As pointed out in comments,
     // it is unnecessary to have to manually call the modal.
     // $('#addBookDialog').modal('show');
});

var add_btn = document.getElementById("add_btn")
add_btn.onclick = function() {
  var item_id = document.getElementById("food_id").innerHTML;
  var name = document.getElementById("food_name").innerHTML;
  $.getJSON("./_add_cart", {
    item_id: item_id,
    name: name,
    quantity: $("#quantity").val()
  }, function(data){
    console.log(data)
    // $("#test").html(cart_list(data.cart_info));
  })
}



</script>

{% endblock %}
